<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Color Keys Printing</title>
    <meta name="description" content="Color Keys Printing">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">
      window.DEFAULT_SETTINGS = {
        user_id: 0
      };
      window.DEFAULT_JWT = {};
    </script>

    <!-- favicon file TODO: make sure to update the domain -->
    <link rel="icon" href="http://localhost:8080/favicon.png" />

    <!-- CSS  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <%- include('./partials/_header.html') %>
    <%- content %>
    <%- include('./partials/_google_analytics.html') %>
  </body>
</html>
